@tailwind base;

/* @font-face {
  font-family: 'Mona Sans';
  font-weight: 200 900;
  font-display: block;
  font-style: normal;
  font-stretch: 75% 125%;
  src: url('../fonts/Mona-Sans.var.woff2') format('woff2');
} */

/* In a CSS file or within a <style> block in your component */
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(-10px);
    opacity: 0.5;
  }
}

.dot {
  animation: bounce 1.5s infinite;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}
.dot:nth-child(2) {
  animation-delay: 0.2s;
}
.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@font-face {
  font-family: 'DIN-NEXT-LT-W23-MEDIUM';
  /* font-weight: 200 900;
  font-display: block;
  font-style: normal;
  font-stretch: 75% 125%; */
  src: url('../fonts/DIN-NEXT-LT-W23-MEDIUM.otf') format('woff2');
}

/* src/styles/custom.css */
:root {
  /* Define the custom mixed color using multiple color values (gradient example) */
  --color-mixed: linear-gradient(to right, #1DA1F2, #145B93); /* Example gradient */
}

/* Optional: Define utility classes if needed */
.bg-mixed {
  background: var(--color-mixed);
}

.text-mixed {
  color: var(--color-mixed);
}